<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Find Divvy bikes in Chicago</title>
  <!-- metas -->
  <meta name="viewport" content="width=device-width">
  <meta name="description" content=" ">
  <meta property="og:title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">

  
  <!-- STYLES -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../styles/helpers.css">
  <link rel="stylesheet" href="../styles/main.css">

</head>
<body>

  <header class="header">
    <h1 class="mainTitle"> {{ title }} </h1>
  </header>

  {{{body}}}

<!-- JS -->
<script src="../javascript/app.js"></script>

</body>
</html>
